* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.Inter {
  font-family: 'Inter', sans-serif;
}


.bold-200 {
  font-weight: 200;
}

.bold-300 {
  font-weight: 300;
}

.bold-400 {
  font-weight: 400;
}

.bold-500 {
  font-weight: 500;
}

.bold-600 {
  font-weight: 600;
}

.bold-700 {
  font-weight: 700;
}

.bold-800 {
  font-weight: 800;
}

.bold-900 {
  font-weight: 900;
}

/* background */
.wc-bg-primary {
  background: #f2f7ff;
  border: 1px solid #ebebeb;
}

#table_img {
  padding: 10px 10px 0px 10px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  background: #f2f7ff;
}

#table_img img {
  border-radius: 10px;
  width: 100%;
}


table {
  font-family: "Inter", sans-serif;
  width: 100%;
  font-weight: 500;
}

td,
th {
  border: 1px solid #ebebeb;
  text-align: left;
  padding: 8px;
}

.table_cloth_size {
  width: 20px;
}

.wc-lt-primary {
  background: #f2f7ff;
  font-weight: 600;
}

.current-table-size {
  background: #e3e8ec;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.current-rows {
  background: #007ac5;
  color: white;
}

.current-cols {
  background: #d6ecf9;
}

.form-select {
  border-radius: 10px;
  height: 40px;
  margin-top: 5px;
  cursor: pointer;
  background: #f2f7ff;
}

.form-select:hover,
.form-select:focus {
  outline: none;
  border: 1px solid #e3e8ec;
  box-shadow: none !important;
}